/data-broker
/log-broker
/config-nodered/lib
/config-nodered/node_modules
/config-nodered/package.json
/config-nodered/.sessions.json
/config-nodered/.flows.json.backup
/config-nodered/.config.runtime.json
/config-nodered/.config.users.json
/config-nodered/.config.users.json.backup
/config-nodered/.config.nodes.json
/config-gateway/.sessions.json